services:
  files-backup:
    build:
      context: .
      platforms:
        - linux/amd64
        - linux/arm64
    image:  ${DOCKER_REGISTRY_URL}/${DOCKER_REGISTRY_ID}/${BUILD_NAME}:${BUILD_VERSION}
    container_name: ${BUILD_NAME}
    hostname: ${BUILD_NAME}
    depends_on:
      - sftp
      - etcd

  sftp:
    image: ghcr.io/fvilarinho/sftp:1.2.0
    container_name: sftp
    hostname: sftp
    depends_on:
      - etcd

  etcd:
    image: ghcr.io/fvilarinho/etcd:1.2.0
    container_name: etcd
    hostname: etcd
    ports: 
      - "2379:2379"
    volumes:
      - ./etc/settings.json:/home/user/etc/${BUILD_NAME}.json
      - ../sftp/etc/settings.json:/home/user/etc/sftp.json
      - etcd-data:/home/user/data

volumes:
  etcd-data:
  