version: '3.8'

services:
  files-backup:
    build:
      context: .
    image: ghcr.io/fvilarinho/${BUILD_NAME}:${BUILD_VERSION}
    container_name: ${BUILD_NAME}
    hostname: ${BUILD_NAME}
    depends_on:
      - sftp
      - etcd

  sftp:
    image: ghcr.io/fvilarinho/sftp:1.1.0
    container_name: sftp
    hostname: sftp
    depends_on:
      - etcd

  etcd:
    image: ghcr.io/fvilarinho/etcd:1.1.0
    container_name: etcd
    hostname: etcd
    ports: 
      - "2379:2379"
    volumes:
      - ./etc/settings.json:/home/user/etc/${BUILD_NAME}.json
      - ../sftp/etc/settings.json:/home/user/etc/sftp.json
      - etcd-data:/home/user/data

volumes:
  etcd-data:
  